# services:
#   nginx:
#     image: nginx
#     container_name: nginx
#     volumes:
#       - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
#       - ./app/test/:/var/www/html/
#     ports:
#       - 80:80
#     # depends_on:
#     #   - backend

#   laravel:
#     image: bitnami/laravel:8.6.11
#     container_name: laravel
#     volumes:
#       - ./app/test/:/var/www/html/
#     depends_on:
#       -  mongo  
#     ports:
#       - 8000:8000
#   mongo:
#     image: mongo:4.4
#     container_name: mongo

version: '2'

services:
  mariadb:
    image: docker.io/bitnami/mariadb:10.6
    container_name: mariadb
    environment:
      # ALLOW_EMPTY_PASSWORD is recommended only for development.
      - ALLOW_EMPTY_PASSWORD=yes
      - MARIADB_USER=bn_myapp
      - MARIADB_DATABASE=bitnami_myapp

  phpmyadmin:
    image: phpmyadmin
    restart: always
    ports:
      - 8080:80
    environment:
      - PMA_ARBITRARY=1

  laravel:
    image: bitnami/laravel:8.6.11
    container_name: laravel
    ports:
      - 8000:8000
    environment:
      - DB_HOST=mariadb
      - DB_PORT=3306
      - DB_USERNAME=bn_myapp
      - DB_DATABASE=bitnami_myapp
    volumes:
      - './app:/app'
    depends_on:
      - mariadb